@-webkit-keyframes btn_award {
  0% {
    background-image: url('./image/btn_award.png');
  }
  15% {
    background-image: url('./image/btn_award_up.png');
  }
  30% {
    background-image: url('./image/btn_award.png');
  }
  45% {
    background-image: url('./image/btn_award_up.png');
  }
  60% {
    background-image: url('./image/btn_award.png');
  }
  100% {
    background-image: url('./image/btn_award.png');
  }
}
@keyframes btn_award {
  0% {
    background-image: url('./image/btn_award.png');
  }
  15% {
    background-image: url('./image/btn_award_up.png');
  }
  30% {
    background-image: url('./image/btn_award.png');
  }
  45% {
    background-image: url('./image/btn_award_up.png');
  }
  60% {
    background-image: url('./image/btn_award.png');
  }
  100% {
    background-image: url('./image/btn_award.png');
  }
}
